.listeners {
    padding: 140px 0 140px 0;
    background-color: #edf3f7;
}
.swiper_content {
    width: 100%;
}
.swiper {
    margin-top: 100px;
    width: 490px;
    padding: 40px;
    background-color: #ffffff;
    img {
        margin-top: 32px;
        width: 255px;
        height: 50px;
    }
}
.quecly {
    font-size: 96px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: -0.02em;
    text-align: start;
    color: #cd4631;
}
